* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
.errorbackground{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/dark.jpg");
    background-size: cover; /* 이미지를 화면에 맞게 늘리거나 축소합니다. */
    background-position: center;): /* 이미지를 가운데 정렬합니다. */
    /* 투명한 블랙 배경. 여기서 '0.3'은 투명도를 나타냅니다. */
}
.write-form {
    max-width: 730px;
    padding: 15px;
    margin: 0px auto;
}

.write-form .write-input{
    margin: auto;
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    line-height: 1.5;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}